<div class="container">
  <table class="table table-striped table-bordered">
    <tr class="bg-primary text-capitalize" style="color:white;">
      <td>postId</td>
      <td>id</td>
      <td>name</td>
      <td>email</td>
      <td>body</td>
    </tr>
    <tr *ngFor="let comment of (comments ? comments.slice(0,100):[]); let i=index">
      <td>{{comment.postId}}</td>
      <td>{{comment.id}}</td>
      <td>
        <a [routerLink]="['/comments',comment.id]">
      {{comment.name}}
      </a>
      </td>
      <td>{{comment.email}}</td>
      <td>{{comment.body}}</td>
    </tr>
  </table>
</div>
